.nav__nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__nav-items {
    display: flex;
}

.nav__nav-item:not(:first-of-type) {
    margin-left: 20px;
}
