/* Text Elements */
.ta__center {
    text-align: center;
}

.ta__left {
    text-align: left;
}

.ta__right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}
