.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sizings */
.w__full {
    width: 100vw;
}

.w__100 {
    width: 100%;
}

.w__50 {
    width: 50%;
}

.w__fit {
    width: fit-content;
}

.h__full {
    height: 100vh;
}

.h__100 {
    height: 100%;
}

.h__50 {
    height: 50%;
}

.h__fit {
    height: fit-content;
}

.obj__cover {
    object-fit: cover;
}

.obj__contain {
    object-fit: contain;
}

/* Positioning */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.snap__tl,
.snap__tr {
    top: 0;
}

.snap__bl,
.snap__br {
    bottom: 0;
}

.snap__tl,
.snap__bl {
    left: 0;
}

.snap__tr,
.snap__br {
    right: 0;
}

/* Flexbox */
.flex {
    display: flex;
    gap: var(--gap, 0px);
}

.flex__wrap {
    flex-wrap: wrap;
    display: flex;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.jc__start {
    justify-content: flex-start;
}

.jc__end {
    justify-content: flex-end;
}

.jc__between {
    justify-content: space-between;
}

.jc__around {
    justify-content: space-around;
}

.jc__center {
    justify-content: center;
}

.ai__center {
    align-items: center;
}

.ai__start {
    align-items: flex-start;
}

.ai__center {
    align-items: center;
}

.ai__end {
    align-items: flex-end;
}

.ai__between {
    align-items: space-between;
}

.ai__around {
    align-items: space-around;
}

/* Grid */
.grid,
.gr__2_col,
.gr__3_col,
.gr__auto {
    grid-gap: var(--gap, 0px);
}

.grid {
    display: grid;
}

.gr__2_col {
    grid-template-columns: repeat(2, 1fr);
}

.gr__3_col {
    grid-template-columns: repeat(3, 1fr);
}

.gr__auto {
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--min-content, 200px), var(--max-content), 1fr)
    );
}

/* Spacing */
.gap__0 {
    --gap: 0px;
}

.gap__sm {
    --gap: 10px;
}

.gap__md {
    --gap: 40px;
}

.gap__lg {
    --gap: 60px;
}

/* Vertical Alignment */
.va__center,
.va__start,
.va__end {
    display: flex;
    flex-direction: column;
    justify-content: var(--alignment);
}

.va__center {
    --alignment: center;
}

.va__start {
    --alignment: flex-start;
}

.va__end {
    --alignment: flex-end;
}

/* Margins */
.m_0 {
    margin: 0;
}

.mbottom__auto {
    margin-bottom: auto;
}

.mleft__auto {
    margin-left: auto;
}

.mright__auto {
    margin-right: auto;
}

.mtop__auto {
    margin-top: auto;
}

.m_auto {
    margin-left: auto;
    margin-right: auto;
}

/* Text Elements */
.ta__center {
    text-align: center;
}

.ta__left {
    text-align: left;
}

.ta__right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}
