.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sizings */
.w_full {
    width: 100vw;
}

.w_100 {
    width: 100%;
}

.w_50 {
    width: 50%;
}

.w_fit {
    width: fit-content;
}

.h_full {
    height: 100vh;
}

.h_100 {
    height: 100%;
}

.h_50 {
    height: 50%;
}

.h_fit {
    height: fit-content;
}

.obj_cover {
    object-fit: cover;
}

.obj_contain {
    object-fit: contain;
}

/* Positioning */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.snap_tl,
.snap_tr {
    top: 0;
}

.snap_bl,
.snap_br {
    bottom: 0;
}

.snap_tl,
.snap_bl {
    left: 0;
}

.snap_tr,
.snap_br {
    right: 0;
}

/* Flexbox */
.flex {
    display: flex;
    gap: var(--gap, 0px);
}

.flex[data-breakpoint='small'],
.flex[data-breakpoint='medium'] {
    display: block;

    @media (min-width: var(--breakpoint)) {
        display: flex;
    }
}

.flex_wrap {
    flex-wrap: wrap;
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.jc_start {
    justify-content: flex-start;
}

.jc_end {
    justify-content: flex-end;
}

.jc_between {
    justify-content: space-between;
}

.jc_around {
    justify-content: space-around;
}

.jc_center {
    justify-content: center;
}

.ai_center {
    align-items: center;
}

.ai_start {
    align-items: flex-start;
}

.ai_center {
    align-items: center;
}

.ai_end {
    align-items: flex-end;
}

.ai_between {
    align-items: space-between;
}

.ai_around {
    align-items: space-around;
}

/* Grid */
.grid,
.gr_2_col,
.gr_3_col,
.gr_auto {
    grid-gap: var(--gap, 0px);
}

.grid {
    display: grid;
}

.grid[data-breakpoint='small'],
.grid[data-breakpoint='medium'] {
    display: block;

    @media (min-width: var(--breakpoint)) {
        display: grid;
    }
}

.gr_2_col {
    grid-template-columns: repeat(2, 1fr);
}

.gr_3_col {
    grid-template-columns: repeat(3, 1fr);
}

.gr_auto {
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--min-content, 200px), var(--max-content), 1fr)
    );
}

/* Spacing */
.gap_0 {
    --gap: 0px;
}

.gap_sm {
    --gap: 10px;
}

.gap_md {
    --gap: 40px;
}

.gap_lg {
    --gap: 60px;
}

/* Vertical Alignment */
.va_center,
.va_start,
.va_end {
    display: flex;
    flex-direction: column;
    justify-content: var(--alignment);
}

.va_center {
    --alignment: center;
}

.va_start {
    --alignment: flex-start;
}

.va_end {
    --alignment: flex-end;
}

/* Margins */
.m_0 {
    margin: 0;
}

.mbottom_auto {
    margin-bottom: auto;
}

.mleft_auto {
    margin-left: auto;
}

.mright_auto {
    margin-right: auto;
}

.mtop_auto {
    margin-top: auto;
}

.m_auto {
    margin-left: auto;
    margin-right: auto;
}
